@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsSemiBold;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: tite;
    src: url(/fonts/1.ttf);
}

.font-poppins {
    font-family: poppins;
}

.font-poppins-semibold {
    font-family: poppinsSemiBold;
}

.font-poppins-light {
    font-family: poppinsLight;
}

.font-tite {
    font-family: tite;
}